.samples-container {
  max-width: 500px;
  margin: 10px auto 5px;
  padding: 10px 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #9e9e9e;
}

.samples-container p {
  margin: 15px 5px 15px;
  font-weight: 300;
  font-size: 14px;
}

.samples-images-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.samples-images-container img {
  width: 45px;
  margin: 0px 3px;
  padding: 4px;
  height: auto;
  cursor: pointer;
  transition: all 120ms linear;
}

.samples-images-container img:hover {
  width: 53px;
  padding: 0px;
}
