.navigation {
  padding: 25px 55px 15px 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.logo-container img {
  width: 70px;
  opacity: 0.95;
}

.sign-out a {
  color: #fafbfc;
  text-decoration: none;
  font-weight: 400;
  padding: 8px;
}

.sign-out a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .navigation {
    padding: 15px 20px;
  }
  .navigation a {
    font-size: 14px;
  }
}
